.CityScapeCard div {
  width: 100%;
  margin: 0.5rem 0;
}

.CityScapeCard img {
  width: 100%;
}

.ImageInformation {
  text-align: center;
}

@media (min-width: 768px) {
  .CityScapeCard div {
    width: 20vw;
    margin-bottom: 1rem;
  }
}