.CityScapeCard div {
  width: 100%;
  margin: 0.5rem 0;
}

.CityScapeCard img {
  width: 100%;
}

.ImageInformation {
  text-align: center;
}

.ImagePlaceholderContainer {
  width: 100%;
  min-height: calc(20vw * 2 / 3);
  background-image: url("../../assets/imagePlaceholder.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80%;
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .CityScapeCard div {
    width: 20vw;
    margin-bottom: 1rem;
  }
}