.ScapeDetailCard div {
  width: 100%;
  margin-bottom: 1rem;
}

.ScapeDetailCard img {
  width: 100%;
  padding-bottom: 0.2rem;
  padding-right: 0.5rem;
}

.ImageInformation {
  text-align: center;
}

.ImageContainer {
  background-color: rgb(241, 241, 241);
  -webkit-box-shadow: 0px 10px 10px -4px rgba(189, 189, 189, 1);
  -moz-box-shadow: 0px 10px 10px -4px rgba(189, 189, 189, 1);
  box-shadow: 0px 10px 10px -4px rgba(189, 189, 189, 1);
  min-height: calc(20vw * 2 / 3);
  background-image: url("../../assets/imagePlaceholder.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80%;
  padding-bottom: 0 !important;
}

@media (min-width: 768px) {
  .ScapeDetailCard div {
    width: 20vw;
    margin-bottom: 1rem;
  }
}
