.CityDetail {
  margin: 0 auto;
  width: 65vw;
}

.CityDetail h1 {
  padding-top: 2rem;
  text-align: center;
}

.CityDetail a {
  text-decoration: none;
  color: #1a1a1a;
}

.CityCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}