.CityDetail {
  margin: 0 auto;
  width: 90vw;
}

.CityDetail h1 {
  padding-top: 2rem;
  text-align: center;
}

.CityDetail a {
  text-decoration: none;
  color: #1a1a1a;
}

.CityDetail a:hover {
  filter: brightness(110%);
}

.CityCardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media (min-width: 768px) {
  .CityDetail {
    width: 65vw;
  }
}