.CurrentWeather {
  padding: 2rem 3rem;
}

.CurrentWeather p {
  margin-bottom: 0;
  font-size: 1rem;
}

.CurrentWeather h2 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.CurrentTime {
  text-align: center;
  font-size: 1.2rem;
}

.TemperatureContainer {
  padding-left: 1rem;
  width: 65%;
}

.Temperature {
  font-size: 1rem;
}

.SecondColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WeatherImage {
  padding-left: 0;
  width: 100%;
}

.WeatherImage img {
  width: 5vw;
  height: auto;
}

.WeatherImage div {
  margin: 1rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .Temperature {
    font-size: 10rem;
  }
  .WeatherImage div {
    font-size: 1.6rem;
  }
  .SecondColumn {
    flex-direction: row;
  }
  .CurrentWeather p {
    font-size: 1.6rem;
  }
  .WeatherImage {
    width: 50%;
    padding: 2rem 2rem;
  }
  .CurrentWeather h2 {
    font-size: 1.8rem;
  }
}
