.Upload {
  width: 60%;
  margin: auto;
  padding: 0 3rem;
}
.Upload form {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
}
.Upload form div {
  margin: 1rem;
}
.Upload form label {
  margin: 0 auto;
}
.Upload form input {
  margin: 0 auto;
}
.Container1 {
  width: 50%;
}
.Container2 {
  width: 40%;
  
}
