.Discover {
  width: 90vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 2rem;
}

.Discover div {
  width: 100%;
  margin: 0 0.5rem;
  padding-bottom: 1rem;
}

.ImagePlaceholderContainer {
  width: 100%;
  min-height: calc(20vw * 2 / 3);
  background-image: url("../../assets/imagePlaceholder.png");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 80%;
  padding-bottom: 0 !important;
}

.Discover img {
  width: 100%;
}

.Discover a {
  text-decoration: none;
  color: #1a1a1a;
}

.Discover a:hover {
  filter: brightness(110%);
}

@media (min-width: 768px) {
  .Discover {
    width: 65vw;
  }
  .Discover div {
    width: 20vw;
  }
}