.north{
  fill: #bbe1fa;
}
.middle{
  fill: #C5E1B7;
}
.south{
  fill: #F9CFAB;
}
.east{
  fill: #D7D1E8;
}

.cityArea:hover{
  opacity: 0.9;
  cursor: pointer;
}

#mapid {
  height: 180px;
}

.mymap {
  height: '100vh';
  width: 100%;
} 

.descriptionContainer {
  position: absolute;
  left: 10rem;
  top: 2rem;
  border: 1px solid #9b9b9b;
  padding: 0 1rem;
  border-radius: 5px;
}

.descriptionContainer a {
  text-decoration: none;
  color: #1a1a1a;
}