.LogIn  {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  border: 1px solid #1a1a1a;
  padding-bottom: 2rem;
  border-radius: 10px;
  padding: 2rem 2rem 2rem 2rem;
}


.LogIn div {
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .LogIn {
    width: 30%;
  }
}
